.section-guaranteed-results {
  background-color: $c-blue;
  padding: 50px 0;
  text-align: center;
}

.section-guaranteed-results-title {
  color: $c-white;
}

.section-guaranteed-results-content {
  color: $c-white;
  font-size: 17px;

  p {
    margin: 0 0 30px;
  }
}

.section-guaranteed-results-btn {

}