.home-footer {
  background-color: $c-black;
  position: relative;
  @include angle(after, false, 6deg);
  padding-top: 25px;
}

.home-footer-title {
  text-align: center;
  color: $c-blue;
  padding: 0 0 30px;

  @include bp(medium) {
    padding: 0 0 50px;
  }
}

.home-footer-columns {
  @include clearfix;
}

.home-footer-columns-left {
  margin: 0 span(1);
  padding-bottom: 30px;

  @include bp(medium) {
    @include span(5);
    margin-left: span(1 wide);
    margin-bottom: 0;
  }
}

.home-footer-columns-right {
  margin: 0 span(1);

  @include bp(medium) {
    @include span(8);
    margin-left: span(1);
  }

  p {
    color: $c-white;
    font-size: 13px;
    line-height: 1.4;

    @include bp(medium) {
      font-size: 15px;
    }

    @include bp(large) {
      font-size: 16px;
    }
  }
}

.home-footer-image {
  img {
    width: 100%;
  }
}

.rock-on {
  padding-top: 20px;

  p {
    padding-bottom: 30px;
  }
}