.home-guarantee {
  position: relative;
}

.home-guarantee-top {
  background-color: $c-white;
  position: relative;
  padding: 80px 0 15px;
  text-align: center;
  @include angle(after, true, 6deg);

  @include bp(medium) {
    padding: 90px 0 10px;
  }
}

.home-guarantee-top-title {
  color: $c-blue;
}

.home-guarantee-top-content {
  @include span(14);
  float: none;
  margin: 0 auto;

  @include bp(medium) {
    width: span(12);
  }

  p {
    font-size: 16px;
    padding: 0 0 35px;
  }
}

.home-guarantee-bottom-img {
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 50%;

  img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    width: 100%;
  }
}

.home-guarantee-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  margin: auto;
  text-align: center;
  z-index: 2;
}

