.testimonials-main {
  background: $c-black;
  padding: 40px 0 50px;

  @include bp(large) {
  padding: 60px 0 90px;
  }
}

.testimonials-main-title {
  color: $c-blue;
  padding-bottom: 35px;
  text-align: center;

  @include bp(large) {
  padding-bottom: 55px;
  }
}

.testimonials-secondary {
  background: $c-black;
  padding: 60px 0 20px;
  margin: 0 0 10px;
  @include angle(after, false, 6deg);

  .testimonial-item {
    max-width: 350px;

    @include bp(medium) {
      max-width: none;
      padding-left: 30px;
    }
  }

}

.testimonial-border {
  position: relative;
  @include angle(after, false, 6deg);
}

.testimonials-column {
  display: block;

  @include bp(medium) {
    @include span(50% no-gutters);
  }

  &:last-child {
    @include bp(medium) {
      @include last;
    }
  }
}

.testimonial-item {
  max-width: 350px;
  text-align: center;
  margin: 0 auto 50px;

  @include bp(medium) {
    margin: 0 0 50px span(1 of 8);
  }

  @include bp(large) {
    margin-bottom: 65px;
  }

  .testimonials-column:last-child &{

    @include bp(medium) {
      margin: 0 span(1 of 8) 50px 0;
      float: right;
    }

    @include bp(large) {
      margin-bottom: 65px;
    }

    &:last-child {
      @include bp(medium) {
        margin-bottom: 0;
      }
    }
  }

  &:last-child {
    @include bp(medium) {
      margin-bottom: 0;
    }
  }
}

.testimonial-image {
  display: block;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-bottom: -30px;

  @include bp(medium) {
    margin-bottom: -58px;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.testimonials-contact {
  padding: 30px 0 40px;
}

.testimonials-contact-title {
  color: $c-black;
  padding: 0 0 30px;
  text-align: center;
}

.wistia-btn {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.image-grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -5px 50px -5px;
  max-width: 416px;

  @include bp(small) {
    margin: 0 auto 50px;
  }

  @include bp(medium) {
    margin: 0 -5px;
  }
}

.image-grid-item {
  padding: 0 5px 10px;
  flex: 1 1 0%;

  &--small {
    flex-basis: 50%;
    max-width: 50%;
  }

  &--large {
    flex-basis: 100%;
    max-width: 100%;
  }

  img {
    display: block;
  }
}

.testimonial-thumb {
  text-align: center;

  @include bp(medium) {
    text-align: left;
  }
}
